.jumbotron{
    background: #DAE3E7;
}

.local{
    height: 20rem;
    border-radius: 25px;
}
.global{
    height: 20rem;
    border-radius: 25px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 34px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid silver;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: green;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(35px);
}
 
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}